.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #b22222;
}

.logo img {
  width: 80px;
  height: 50px;
  margin-right: 8px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-links li a.active {
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #fff;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text .red {
  color: #e04326;
}

.hero-text .black {
  color: #000;
}

.hero-text p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.hero-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .hero {flex-direction: column-reverse;
    
    text-align: start;
    padding: 40px 20px;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .navbar {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }
  .nav-links li a.active{
    display: none;
  }
  .nav-links li a.shop{
    display: none;
  }
  .nav-links li a.About{
    display: none;
  }
  .navbar{
    flex-direction: row;
    align-items: center;
  }
  .hero-text.h1{
    font-size: 10px;
  }
  
}
h2 {
      margin-top: 30px;
      color: red;
    }

    h2 span {
      color: black;
      font-weight: bold;
    }

    p.description {
      max-width: 700px;
      margin: 10px auto 30px;
      color: #555;
      text-align: center;
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
      gap: 30px;
      padding: 30px;
      max-width: 1000px;
      margin: auto;
      text-align: center;
    }

    .product {
      background: white;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .product img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .product-name {
      font-weight: normal;
      margin: 10px 0 5px;
    }

    .product-price {
      color: #000;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .add-to-cart {
      background-color: #f4511e;
      color: white;
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-to-cart:hover {
      background-color: #d43d10;
    }
    .title{
        text-align: center;
        font-size: 35px;
    }
    @media (max-width: 600px) {
      .product-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

   